podcast.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="https://podcast-ext.org/podcast-xsd"
    targetNamespace="https://podcast-ext.org/podcast-xsd"
    elementFormDefault="qualified" >

<xsd:annotation>
    <xsd:documentation>
            XML Schema for the Podcasts extension.

            Help Center documentation for the Podcasts extension:
            https://podcast-ext.org/help

            GPL Licence applies
    </xsd:documentation>
</xsd:annotation>

<!-- Custom type definition -->
<xsd:simpleType name="RestrictYesNo">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="yes" />
		<xsd:enumeration value="no" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="Platform">
	<xsd:restriction base="xsd:string">
		<xsd:minLength value="2"/>
		<xsd:maxLength value="255"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="Name">
	<xsd:restriction base="xsd:string">
		<xsd:minLength value="2"/>
		<xsd:maxLength value="255"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LinkHref">
	<xsd:restriction base="xsd:anyURI">
		<xsd:minLength value="12"/>
		<xsd:maxLength value="2048"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISBN">
    <xsd:restriction base="xsd:string">
		<xsd:pattern value="\d{1}-\d{5}-\d{3}-\d{1}|\d{1}-\d{3}-\d{5}-\d{1}|\d{1}-\d{2}-\d{6}-\d{1}"/>           
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="Person">
	<xsd:annotation>
		<xsd:documentation>
			This tag give some information about person in a podcast
		</xsd:documentation>
	</xsd:annotation>
	<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="link">
				<xsd:annotation>
					<xsd:documentation>
						Used to add any link you want related to this people podcast.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="LinkHref">
							<xsd:attribute name="href" type="LinkHref" use="required"/>	
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="social">
				<xsd:annotation>
					<xsd:documentation>
						Here you can define some social network of this person
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="platform" type="Platform" use="required" />
					<xsd:attribute name="handle" type="Name" use="optional" />
					<xsd:attribute name="href" type="LinkHref" use="required" />
				</xsd:complexType>
			</xsd:element>
	</xsd:choice>
	<xsd:attribute name="firstname" type="Name" />
	<xsd:attribute name="lastname" type="Name" />
	<xsd:attribute name="nickname" type="Name" />
	<xsd:attribute name="role" type="xsd:string" />
</xsd:complexType>

<!-- Elements definition -->
<xsd:element name="platform">
    <xsd:annotation>
        <xsd:documentation>
                A podcast platform where the podcast is available.

                The platform attribute is the platform code defined and communicated by itself.
                The href attribute is the link to the podcast on specified platform.

                An optional name attribute is available if the platform code is different from its name.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:attribute name="platform" type="Platform" use="required" />
        <xsd:attribute name="name" type="Name" />
        <xsd:attribute name="href" use="required" type="LinkHref"/>
    </xsd:complexType>
</xsd:element>

<xsd:element name="email">
    <xsd:annotation>
        <xsd:documentation>
                The email address of the podcast owner. This email will be used to
                verify the ownership of the podcast during registration. The email is
                only specified in the &lt;channel&gt; tag.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:element>

<xsd:element name="image">
    <xsd:annotation>
        <xsd:documentation>
                A URL that points to the the artwork of your podcast or episode. The
                image can be specified in the &lt;channel&gt; or &lt;item&gt; tags.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:attribute name="href" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:anyURI">
                    <xsd:minLength value="12"/>
                    <xsd:maxLength value="2048"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:element>

<xsd:element name="description">
    <xsd:annotation>
        <xsd:documentation>
                A description of the podcast or episode. The description can be specified
                in the &lt;channel&gt; or &lt;item&gt; tags and must be plain-text (no
                markup allowed).
        </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:element>

<xsd:element name="explicit">
    <xsd:annotation>
        <xsd:documentation>
                Indicates whether the podcast or a specific episode contains explicit
                material. If not specified, it is considered not explicit. The explicit
                symbol will appear next to the podcast when the tag is placed in the
                &lt;channel&gt; and next to the episode when placed in the &lt;item&gt;.
                A 'clean' value can only be used in the &lt;item&gt; tag, and it means
                this episode is not explicit, but there's also an explicit version of
                of the same episode.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="yes" />
            <xsd:enumeration value="no" />
            <xsd:enumeration value="clean" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:element>

<xsd:element name="block">
    <xsd:annotation>
        <xsd:documentation>
                If this tag is set to 'yes' in the &lt;channel&gt; tag, the podcast will
                will not appear in Google Play Music.  If this tag is set to 'yes' in the
                &lt;item&gt; tag, that episode will not appear in Google Play Music. If
                it's not set, it will be treated as 'no'.
        </xsd:documentation>
    </xsd:annotation>
	<xsd:complexType>
		<xsd:simpleContent>
			<xsd:extension base="RestrictYesNo">
				<xsd:attribute name="platform" type="Platform" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>	
</xsd:element>

<xsd:element name="newFeedUrl" type="LinkHref">
    <xsd:annotation>
        <xsd:documentation>
                Allows the podcast owner to change the URL where the RSS podcast feed is
                located. After adding the tag, you should maintain the old feed for 48
                hours before retiring it. newFeedUrl is only specified in the
                &lt;channel&gt; tag.
        </xsd:documentation>
    </xsd:annotation>
</xsd:element>

<xsd:element name="category">
    <xsd:annotation>
        <xsd:documentation>
                Specify the category that your podcast relates to. If more than one
                category is specified, only the first one will be used. Categories can
                only be specified in the &lt;channel&gt; tag. The 'text' must match one
                of the pre-defined categories specified in the help center
                article: https://support.google.com/googleplay/podcasts/answer/6260341#spt
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:attribute name="text" type="xsd:string" use="required" />
    </xsd:complexType>
</xsd:element>

<xsd:element name="social">
	<xsd:annotation>
		<xsd:documentation>
			Here you can define some social network of your podcast.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
		<xsd:attribute name="platform" type="Platform" use="required" />
		<xsd:attribute name="handle" type="Name" use="optional" />
		<xsd:attribute name="href" type="LinkHref" use="required" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="donate">
	<xsd:annotation>
		<xsd:documentation>
			This tag is used to specify a link for your donation page (like Patreon).
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
		<xsd:attribute name="platform" type="Platform" use="required" />
		<xsd:attribute name="handle" type="Name" use="optional" />
		<xsd:attribute name="href" type="LinkHref" use="required" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="shop">
	<xsd:annotation>
		<xsd:documentation>
			Used to specify a link to your podcast's shop.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
		<xsd:attribute name="platform" type="Platform" use="required" />
		<xsd:attribute name="handle" type="Name" use="optional" />
		<xsd:attribute name="href" type="LinkHref" use="required" />
	</xsd:complexType>	
</xsd:element>

<xsd:element name="link">
	<xsd:annotation>
		<xsd:documentation>
			Used to add any link you want related to your podcast.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
		<xsd:simpleContent>
			<xsd:extension base="LinkHref">
				<xsd:attribute name="href" type="LinkHref" use="required"/>	
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:element>

<xsd:element name="person" type="Person" />

<xsd:element name="team">
	<xsd:annotation>
		<xsd:documentation>
			Used to define some information about the team of the podcast.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType>
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="person" type="Person" />
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

<xsd:element name="guests">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some extra information about guest in the episode (used only in item tag).
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType>
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="person" type="Person" />			
		</xsd:choice>
	</xsd:complexType>
</xsd:element>

<xsd:element name="book">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about books in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="title" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="author" type="Name" use="required" />
		<xsd:attribute name="href" type="LinkHref" />
		<xsd:attribute name="isbn" type="ISBN" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="game">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about games in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="title" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="developer" type="Name" />
		<xsd:attribute name="href" type="LinkHref" />
		<xsd:attribute name="publisher" type="Name" />
		<xsd:attribute name="platforms" type="xsd:string" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="tv_show">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about TV Show in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="title" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:element>

<xsd:element name="movie">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about movies in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="title" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="director" type="Name" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="video">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about video in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="title" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="href" type="LinkHref" use="required" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="music">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about music in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="title" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="href" type="LinkHref" use="required" />
		<xsd:attribute name="artist" type="Name" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="art">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about art in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="title" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="href" type="LinkHref" use="required" />
		<xsd:attribute name="artist" type="Name" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="object">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about object in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="name" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="href" type="LinkHref" use="required" />
		<xsd:attribute name="brand" type="Name" />
		<xsd:attribute name="price" type="xsd:positiveInteger" />
		<xsd:attribute name="currency" type="xsd:string" />
	</xsd:complexType>
</xsd:element>

<xsd:element name="website">
	<xsd:annotation>
		<xsd:documentation>
			Used to give some information about a website in podcast.
		</xsd:documentation>
	</xsd:annotation>	

	<xsd:complexType>
		<xsd:attribute name="name" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="512"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="href" type="LinkHref" use="required" />
	</xsd:complexType>
</xsd:element>

</xsd:schema>
